<!-- <pre>
  {{currentPost$ | async | json}}
</pre> -->
<div style="display: none">{{_deletedPost$ | async}}</div>
<mat-tab-group>

  <mat-tab label="All">
    <div class="row">

      <div class="cardList">
        <h1>Post List</h1>
        <!-- <div style="display: flex; justify-content: center;" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <ng-container *ngIf="!loading"> -->
        <ng-container>
          <!-- <ng-container> -->
          <ng-container *ngIf="(_postList$ | async) as posts">
            <div *ngFor="let post of posts">
              <mat-card (click)="clickPost(post)">
                <h3>{{post.title}}</h3>
                <span>{{post.comment}}</span>
              </mat-card>
            </div>
          </ng-container>
          <p class="plus-circle" (click)="postAdd()">+</p>
        </ng-container>

      </div>

      <div class="contents">
        <h1>Post Editor</h1>
        <div class="edit-icon" *ngIf="status === 'detail'">
          <span class="icon" (click)="editing()">✏️</span>
          <span class="icon" (click)="postDelete()">🗑</span>
          <span class="icon" (click)="goDefault()">❌</span>
        </div>

        <ng-container *ngIf="status === 'default'">
          <div>
            <p>Posts can be managed in this editor and are added, updated, deleted and selected</p>
            <p>Select post!</p>
          </div>
        </ng-container>

        <ng-container *ngIf="status === 'detail'">
          <!-- <div *ngIf="(selectedPost | async) as post"> -->
          <div>
            <h3>{{selectedPost.title}}</h3>
            <mat-divider></mat-divider>
            <h4>{{selectedPost.comment}}</h4>
          </div>
        </ng-container>

        <ng-container *ngIf="status === 'editing'">
          <div class="form-field">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="title" [(ngModel)]="selectedPost.title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="comment" [(ngModel)]="selectedPost.comment">
            </mat-form-field>
          </div>
          <div class="btn-line">
            <button mat-raised-button color="primary" (click)="postEditSave()">Save</button>
            <button mat-raised-button color="primary" (click)="goDefault()">Cancel</button>
          </div>
        </ng-container>
        <div style="display: none">{{_editedPost$ | async}}</div>


        <ng-container *ngIf="status === 'addPost'">
          <div class="form-field">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="title" [(ngModel)]="_title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="comment" [(ngModel)]="_comment">
            </mat-form-field>
          </div>
          <div class="btn-line">
            <button mat-raised-button color="primary" (click)="postAddSave()">Add</button>
            <button mat-raised-button color="primary" (click)="goDefault()">Cancel</button>
          </div>
        </ng-container>
        <!-- <div style="display: none">{{_addedPost$ | async}}</div> -->
        <div>{{_addedPost$ | async | json}}</div>

      </div>
    </div>
  </mat-tab>
  <!-- List -->
  <mat-tab label="List">
    <div>
      <button mat-raised-button color="primary" (click)="getPostList()">Get List</button>
      <pre *ngIf="postList$">
        {{postList$ | async | json}}
      </pre>
    </div>
  </mat-tab>
  <!-- postById -->
  <mat-tab label="PostById">
    <div>
      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="ID" [(ngModel)]="postIdByInput"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getPostById()">Get Post</button>
      <pre *ngIf="post$">
            {{post$ | async | json}}
          </pre>
    </div>
  </mat-tab>
  <!-- Add -->
  <mat-tab label="Add">
    <div>
      <form class="example-form">
        <mat-form-field class="example-form">
          <input matInput placeholder="Title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-form">
          <input matInput placeholder="Comment" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="addPost()">Add Post</button>
      <pre *ngIf="newPost$">
        {{newPost$ | async | json}}
      </pre>
    </div>
  </mat-tab>
  <!-- Delete -->
  <mat-tab label="Delete">
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="ID" [(ngModel)]="deleteInput" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="deletePost()">Delete Post</button>
    <pre *ngIf="deletedPost$">
      {{deletedPost$ | async | json}}
    </pre>
  </mat-tab>
  <!-- Update -->
  <mat-tab label="Update">
    <div>
      <button mat-raised-button color="primary" (click)="getPostList()">Get Posts</button>
    </div>

    <div>
      <ng-container *ngIf="(postList$ | async) as postList$">
        <!-- <pre>{{postList$ | json}}</pre> -->
        <div style="display: flex" *ngFor="let post$ of postList$">
          <div style="padding: 0 1rem; margin: 1rem; border: 1px solid; width: 326px;">
            <p><span>ID: </span>{{post$.id}}</p>
            <p><span>TITLE: </span>{{post$.title}}</p>
            <p><span>COMMENT: </span>{{post$.comment}}</p>
          </div>
          <div *ngIf="edit">
            <mat-form-field class="example-form">
              <input matInput [(ngModel)]="post$.title" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-form">
              <input matInput [(ngModel)]="post$.comment" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <p *ngIf="!edit">
            <button mat-raised-button color="primary" (click)="editBtn()">수정</button>
          </p>
          <p *ngIf="edit">
            <button mat-raised-button color="primary"
              (click)="finishedEdit(post$.id, post$.title, post$.comment)">완료</button>
          </p>
          <!-- <input matInput [(ngModel)]=" postIdByInput" [ngModelOptions]="{standalone: true}"> -->
        </div>
      </ng-container>
      <pre *ngIf="editedPost$">
        {{editedPost$ | async | json}}
      </pre>
    </div>
  </mat-tab>

</mat-tab-group>